body{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.topPicture{
  margin-top: 0;
  margin-bottom: 2px;
}
.guide{
    height: 30px;
    width: 1000px;
    background-color:#009FCC;
}

.item{
  list-style-type:none;
  text-align:center;
  float: left;
  letter-spacing: 5px;
  padding: 0px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFF;
  margin-left: 1px;
}

.item a{
  text-decoration:none;
  color: #FFF;
}

.leftArea{
  position: relative;
  padding: 10px;
  margin-right: 5px;
  width: 470px;
  float: left;
}

.rightArea{
  position: relative;
  padding: 10px;
  margin-top: 20px;
  margin-left: 5px;
  border-style: solid;
  width: 470px;
  float: right;
}

.rightArea li{
  margin-left: 30px;
}

.content{
  width: 1000px;
  height: 400px;
}

.end{
  position: relative;
  margin: 10px;
}

footer{
  background-color: #99BBFF;
  width: 1000px;
}
